.appHeadline {
    width: 100%;
}

.filter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}

.applicationBoard {
    width: 100%;
    flex: 1;
    display: flex;
    gap: 56px;
}

.applicationDetails {
    width: 100%;
    max-width: 600px;
    flex: 1;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    padding: 32px 16px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    >h2 {
        margin: 0;
    }
}

.companyInfos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.city {
    display: flex;
    gap: 4px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 4px;

}
.filterBtn{
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: bold;
 font-size: 18px;
 width: fit-content;
 box-sizing: border-box;
 padding: 0 24px;
 gap: 8px;
    >img{
        width: 25px;
    }
    &:hover{
        >img{
            content:url(./../public/img/filter_blue.svg);
        }
    }
}

.filterSidebar{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    transform: translateX(100%);
    background-color: white;

    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
      box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      transition: transform 0.5s ease-in-out;
}



.transform{
    transform: translateX(0) !important;
}

.closeBtnContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
}
.closeBtn{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    >img{
        width: 20px;
    }
    &:hover{
        >img{
            content: url(./../public/img/close_blue.svg);
        }
    }
}
.applicationList {
    width: 100%;
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 8px;
}

.applicationCard {
    width: 100%;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    box-sizing: border-box;
    padding: 24px;
    cursor: pointer;
    // transition: background-color 0.1s ease-in-out;

    &:hover {
        border: solid 1px var(--main);
        box-shadow: unset;
    }
}

.cardContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.topper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    >p {
        font-size: 20px;
        font-weight: 600;
    }
}

.positionDetails {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.location {

    box-sizing: border-box;
    padding: 8px;
    background-color: rgba(128, 128, 128, 0.591);
    border-radius: 4px;
}

p {
    margin: 0;
}

.status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.statusBtn {
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    >img {
        width: 25px;
    }

    &:hover {
        background-color: gray;

        >img {
            filter: invert(100%);
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.254);
    display: flex;
    justify-content: center;
    align-items: center;

}

.editContainer {
    width: 100%;
    max-width: fit-content;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    box-sizing: border-box;
    padding: 32px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.statusBtnContainer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    flex-wrap: wrap;
    position: relative;
    border: solid;
    box-sizing: border-box;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
        background-color: gray;
    }
}

.companyHeader {
    display: flex;
    flex-direction: column;
    gap: 8px;

    >:nth-child(1) {
        font-size: 28px;
    }

    >:nth-child(2) {
        font-size: 20px;
    }
}


.statusDropdown {
    position: absolute;
    top: 55px;
    display: flex;
    flex-direction: column;
    border: solid 1px;
    background-color: white;

    >button {
        background-color: transparent;
        color: black;

    }
}

.opacity {
    opacity: 0.3;
}

.editBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-block: 32px;

}

.cardBtns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.deleteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: fit-content;
    height: fit-content;
    background-color: white;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);

   
}

.companyDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
     >h4 {
        margin: 0;
    }
}

.appPosition{
    display: flex;
    flex-direction: column;
    gap: 4px;
    >div{
        display: flex;
        flex-direction: column;
    }
}

.statusContainer{
    display: flex;
    flex-direction: column;
    gap: 4px;
   
}

.deleteBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}



.detailsBtnContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >h2 {
        margin: 0;
    }
    >div{
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.appointmentContainer{
    display: flex;
    gap: 4px;
}