html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  width: 100%;
  height: calc(100vh - 240px);
  display: flex;
  justify-content: center;
  align-items: center;

}

button {
  width: 100%;
  max-width: 200px;
  height: 50px;
  border: none;
  padding: 0 16px;
  border-radius: 6px;
  background-color: transparent;
  color: var(--main);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
  font-size: 14px;
  font-weight: 500;
  border: solid 1px var(--main);

  >img {
    width: 25px;
  }

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    background-color: var(--main);
    color: white;

    ;
  }
}

.headerPlaceholder {
  width: 100%;
  height: 120px;
}

.main {
  width: 100%;
  min-height: fit-content;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}

.sidebarContainer {
  width: 300px;
  height: 100vh;
}

.content {
  width: 100%;

  flex: 1;
  display: flex;
  flex-direction: column;

}

.component {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.componentContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  max-width: 1920px;
  box-sizing: border-box;
  padding: 24px 56px;
  position: relative;
  margin-bottom: 56px;

}

.componentHeadline {
  width: 100%;
  min-height: 136px;

  >h2 {
    font-size: 48px;
  }
}

input {
  border: solid 1px var(--main);
  border-radius: 6px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;

  padding: 16px;

}

input:hover,
input:focus,
input:active {
  background: none;

  outline: none;
  box-shadow: none;

}

input:focus::placeholder {
  color: transparent;
}

.opacity {
  opacity: 0.3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;

}

:root {
  --main: #2682c5;
  --high: red;
  --medium: orange;
  --low: gray;

}

@media(max-width:680px) {
  input {
    height: 40px;
    padding: 8px;
  }

  form {
    gap: 16px;
  }

  button {
    height: 40px;
  }

  section {
    height: calc(100vh - 200px);

  }

  .componentContent {
    padding: 16px;
  }

  .componentHeadline {
    min-height: unset;
    margin-top: 8px;
    display: flex;
    justify-content: center;

    >h2 {
      font-size: 32px;
    }
  }
  .headerPlaceholder{
    height: 80px;
  }
}

@media(max-width:370px) {
  .componentHeadline {

    >h2 {
      font-size: 28px;
    }
  }
}