.watchlistBtns {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    background-color: white;
}

.addBtnClose {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        >img {
            content: url(./../public/img/close_white.svg);
        }
    }
}

.addBtn {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        width: 40px;
    }

    &:hover {
        >img {
            content: url(./../public/img/add_white.svg);
        }
    }
}

.inputfieldSlider {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 32px;
    position: absolute;
    top: 90px;
    right: 0;
    transform: translateX(100vw);
    transition: transform 0.5s ease-in-out;
    overflow-y: scroll;
    margin-bottom: 100px;
}

.transform {
    transform: translateX(0) !important;
}

.watchlistMenu {
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
    padding: 24px 56px;
    gap: 16px;
    position: fixed;
    top: 120px;
    display: flex;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
    flex-wrap: wrap-reverse;
    background-color: white;
    z-index: 3;
}

.watchlistMenuPlaceholder {
    width: 100%;
    height: 74px;
    transition: height 0.5s ease-in-out;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}


.watchlistFilterBtns {
    display: flex;
    justify-content: center;
    gap: 16px;
    transition: transform 0.5s ease-in-out;
    background-color: white;
    z-index: 6;

    >button {
        width: 100px;
    }
}

.reloadBtn {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;

    box-sizing: border-box;
    padding: 0 24px;
    gap: 8px;

    >img {
        width: 25px;
    }

    &:hover {
        >img {
            content: url(./../public/img/reload_white.svg);
        }
    }
}

.watchFilterBtn {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;

    box-sizing: border-box;
    padding: 0 24px;
    gap: 8px;

    >img {
        width: 25px;
    }

    &:hover {
        >img {
            content: url(./../public/img/filter_white.svg);
        }
    }
}

.highBtn {
    border-color: red;
    color: red;

    &:hover {
        background-color: red;
        color: white;
    }
}

.mediumBtn {
    border-color: orange;
    color: orange;

    &:hover {
        background-color: orange;
        color: white;
    }
}

.lowBtn {
    border-color: gray;
    color: gray;

    &:hover {
        background-color: gray;
        color: white;
    }
}




.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.prioBtns {
    display: flex;
    gap: 8px;

    >button {
        width: 80px;
    }
}

.saveBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.advertisementsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;


}

.listRow {
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    box-sizing: border-box;
    padding: 16px 32px;

    // >div {
    //     display: flex;
    //     justify-content: flex-start;
    //     align-items: center;
    //     flex-wrap: wrap;
    //     gap: 16px;

    //     >span {
    //         font-size: 20px;

    //     }
    // }

}

.infoRow {
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    box-sizing: border-box;
    padding: 12px 0px;
}

.infoRowDetails {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.advertisementInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    padding-block: 16px;

    >h2 {
        margin: 0;
        margin-bottom: 8px;
    }
}

.jobDetails {
    display: flex;
    align-items: center;
    gap: 16px;

    >span {
        font-size: 20px;
    }

    >p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;

        border-radius: 6px;
        background-color: var(--main);
        color: white;
        padding: 8px;
    }
}

.trashBtn {
    width: 50px;
    height: 50px;

    >img {
        width: 25px;

    }

    &:hover {
        >img {
            content: url(./../public/img/trash-white.svg);
        }

    }
}

.editBtn {
    width: 50px;
    height: 50px;

    >img {
        width: 25px;

    }

    &:hover {
        >img {
            content: url(./../public/img/edit_white.svg);
        }

    }
}

.prioHigh {
    border: solid;
    border-color: var(--high);
    color: var(--high);
    background-color: transparent;

    &:hover {
        border: none;
        background-color: var(--high);
        color: white;
    }
}

.btnHighActive {
    border: none;
    background-color: var(--high);
    color: white;
}

.prioMedium {
    border: solid;
    border-color: var(--medium);
    color: var(--medium);
    background-color: transparent;

    &:hover {
        border: none;
        background-color: var(--medium);
        color: white;
    }
}

.btnMediumActive {
    border: none;
    background-color: var(--medium);
    color: white;
}

.prioLow {
    border: solid;
    border-color: var(--low);
    color: var(--low);
    background-color: transparent;

    &:hover {
        border: none;
        background-color: var(--low);
        color: white;
    }
}

.btnLowActive {
    border: none;
    background-color: var(--low);
    color: white;
}

.prioFlag {
    position: absolute;
    left: 0;
    width: 10px;
    min-width: 10px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px 0 0  6px  ;
    color: white;
}

.flagHigh {
    background-color: var(--high);
}

.flagMedium {
    background-color: var(--medium);
}

.flagLow {
    background-color: var(--low);
}

.infoLink {
    text-decoration: none;
    color: black;
    border: solid 1px var(--main);
    color: var(--main);
    width: 50px;
    box-sizing: border-box;
    padding: 16px;
    height: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
>img{
    width: 25px;
}
    &:hover {
        border: none;
        background-color: var(--main);
        >img{
            content: url(./../public/img/description_white.svg);
        }

    }
}

.nextBtn{
    &:hover{
        >img{
            content:url(./../public/img/arrow_white.svg) ;
        }
    }
}

.watchlistRowBtns {
    width: fit-content;
    height: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    box-sizing: border-box;
    padding-block: 16px;

    >button {
        width: 50px;
        box-sizing: border-box;
        height: 50px;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.searchInput {
    width: 100%;
    min-width: 300px;
    max-width: 300px;
}

.respCloseBtn {
    display: none;
}

.height {
    height: 100px !important;
}

// @media(max-width: 1390px) {
//     .watchlistMenu {
//         flex-direction: column-reverse;
//         align-items: center;
//         gap: 32px;
//     }
// }

@media(max-width:1040px) {
    .listRow {
        height: 250px;
    }

    .infoRow {
        height: 250px;
    }

    .prioFlag {
        height: 250px;
    }

    .infoRowDetails {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .watchlistRowBtns {
        min-height: unset;
    }

    .advertisementInfo {
        min-height: unset;
    }

    .infoRowDetails {
        gap: 0;
    }

    .watchlistRowBtns {
        align-items: flex-end;
        >button {
            height: 40px;
        }

        >a {
            height: 40px;
        }
    }
}

@media(max-width:980px) {
    .watchlistFilterBtns {
        position: fixed;
        top: 150px;
        left: 0;
        transform: translateX(-120%);
        width: 100%;
        box-sizing: border-box;
        padding: 16px;
    }

    .watchlistMenu {
        justify-content: flex-end;
    }
}

@media(max-width:680px) {
    .watchlistMenu {
        top: 80px;
    }

    .watchlistRowBtns {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 8px;
    }

    .jobDetails {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}


@media(max-width:670px) {
    .watchlistBtns {
        justify-content: space-between;
        flex-wrap: wrap;

        >:nth-child(1) {
            order: 2;
        }

        >:nth-child(2) {
            order: 1;
        }

        >:nth-child(3) {
            order: 3;
        }

        >:nth-child(4) {
            order: 4;
        }
    }

    .watchlistMenu {
        padding: 24px 24px;
    }

    .watchlistBtns {
        width: 100%;

    }



    .inputfieldSlider {
        top: 80px;
    }

    .searchInput {
        min-width: unset;
        max-width: unset;
        flex: 1;
    }
}

@media(max-width: 600px) {
    .advertisementInfo {
        >h2 {
            font-size: 20px;
        }
    }

    .listRow {
        position: relative;
    }

    .jobDetails {
        >span {
            font-size: 18px;
        }

        >p {
            position: absolute;
            top: -8px;
            right: -8px;
        }
    }


    .infoLink {
        font-size: 14px;
    }
}

@media(max-width: 400px) {
    .inputfieldSlider {
        position: fixed;
        transform: translateY(-100vh);
        top: 140px;
        left: 0;
        width: 100%;
        height: calc(100vh - 140px);
        box-shadow: unset;
        border-radius: 0;

    }
    .respCloseBtn {
        display: block;
    }

    .saveBtn {
        gap: 8px;
    }


}

@media(max-width: 360px) {
    .watchlistRowBtns{
        >button{
            width: 40px;
        }

    }
    .listRow{
        height: 250px;
    }
}